install_requires =
aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
frozenlist
idna
multidict
nextcord
python-dateutil
python-dotenv
requests
six
twitchAPI
typing_extensions
urllib3
websockets
yarl