{% extends "main.html" %}
{% block content %}
    {% if data %}
    <table>
        <caption><h2>Our glorious MovieDB, long may it reign</h2></caption>
        <thead>
            <tr>
                <th scope="col">Movie Title</th>
                <th scope="col">Watched Status</th>
                <th scope="col">KP link</th>
                <th scope="col">IMDB link</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in data %}
            <tr>
                <th scope="row">{{ movie.title }}</th>
                <th scope="row">{{ movie.watched_status }}</th>
                {% if movie.kp_id %}<td><a href="https://www.kinopoisk.ru/film/{{ movie.kp_id }}/">{{ movie.kp_id }}</a></td>{% endif %}
                {% if movie.imdb_id %}<td><a href="https://www.imdb.com/title/{{ movie.imdb_id }}/">{{ movie.imdb_id }}</a></td>{% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
