{% extends "main.html" %}
{% block content %}
    {% if data %}
    <table>
        <caption><h2>Our glorious QuotesDB, long may it reign</h2></caption>
        <thead>
            <tr>
                <th scope="col">Quote</th>
                <th scope="col">Movie</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in data %}
            <tr>
                <th scope="row">{{ quote.text }}</th>
                {% if quote.title %}<td>{{ quote.title }}</td>{% endif %}
                {% if quote.timestamp %}<td>{{ quote.timestamp }}</td>{% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
