<!-- Modal -->
<div id="edit{{ movie.id }}" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('edit{{ movie.id }}').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
        <form method="post" action="{{ url_for('update_movie', movie_id=movie.id) }}" style="text-align: left">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div>Edit movie</div>
            <div>Title:<input type="text" placeholder="{{ movie.title }}" name="title" value="{{ movie.title }}"></div>
            <div>Watched:
                {% if movie.watched_status %}
                <input type="checkbox" name="watched_status" checked>
                {% else %}
                <input type="checkbox" name="watched_status">
                {% endif %}
            </div>
            <div>Kinopoisk id:<input type="text" placeholder="{{ movie.kp_id }}" name="kp_id" value="{{ movie.kp_id }}"></div>
            <div>IMDB id:<input type="text" placeholder="{{ movie.imdb_id }}" name="imdb_id" value="{{ movie.imdb_id }}"></div>

            <div>
                <input class="btn" type="submit" name="submit" value="Submit">
                <a onclick="document.getElementById('edit{{ movie.id }}').style.display='none'" name="cancel"><button type="reset">Cancel</button></a>
            </div>
        </form>
    </div>
  </div>
</div>
<!-- End modal -->
