<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Bot</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.svg') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<ul>
  <li><a href="movies">Movies</a></li>
  <li><a href="quotes">Quotes</a></li>
    {% if current_user.is_authenticated %}
    <li><a style="cursor: pointer" onclick="document.getElementById('new_movie').style.display='block'">Add movie</a></li>
    {% include "new_movie_form.html" %}
    <li><a href="performance">System</a></li>
    <li class="list-login"><a href="logout">Logout</a></li>
    <li class="list-login" style="color: white;
                                  text-align: center;
                                  padding: 14px 16px;
                                  text-decoration: none;">
        Hello, {{ current_user.id}}!</li>
    {% else %}
    <li class="list-login"><a href="signup">Signup</a></li>
    <li class="list-login"><a href="login">Login</a></li>
    {% endif %}
</ul>
<div class="leftpane">{% block left_content %} {% endblock %}</div>
<div class="rightpane">
</div>
<div class="middlepane" style="overflow-x:auto;">{% block center_content %} {% endblock %}</div>
</body>
</html>
