{% extends "main.html" %}
{% block center_content %}
    {% if data %}
    <table>
        <caption><h2>Our glorious MovieDB, long may it reign</h2></caption>
        <thead>
            <tr>
                <th></th>
                <th>Poster</th>
                <th scope="col">Movie Title</th>
                <th scope="col">Watched status</th>
                <th scope="col">KP link</th>
                <th scope="col">IMDB link</th>
                {% if current_user.is_authenticated %}
                <th></th>
                <th></th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for movie in data %}
            <tr class="filter-{{ movie.watched_status }}">
                <td scope="row">{{ movie.id }}</td>
                <td>{% if movie.kp_id %}
                    <img src="https://kinopoiskapiunofficial.tech/images/posters/kp_small/{{ movie.kp_id }}.jpg" width="60" height="90">
                    {% endif %}
                </td>
                <td scope="row"><b>{{ movie.title }}</b></td>
                <td scope="row">{{ movie.watched_status }}</td>
                <td>
                    {% if movie.kp_id %}
                        <a href='https://www.kinopoisk.ru/film/{{ movie.kp_id }}/'><img src='https://rating.kinopoisk.ru/{{ movie.kp_id}}.gif' border='0'></a>
                    {% else %}None
                    {% endif %}
                </td>
                <td>
                    {% if movie.imdb_id %}
                    {% include "imdb_plugin.html" %}
                    {% endif %}
                </td>
                {% if current_user.is_authenticated %}
                <td>
                    <button onclick="document.getElementById('edit{{ movie.id }}').style.display='block'" class="btn">Edit</button>
                    {% include "edit_form.html" %}
                </td>
                <td>
                    <button onclick="document.getElementById('delete{{ movie.id }}').style.display='block'" class="btn">Delete</button>
                    {% include "delete_form.html" %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}
